<%= form_with(model: post) do |form| %>
<% if post.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

  <ul>
    <% post.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="card rounded">
  <div class="create-post-body">
    <ul class=" card-header list-inline" id='create-post-header'>
      <li>Post</li>
    </ul>
    <div>
      <%= form.text_area :body, cols: 30, rows: 6, placeholder: "What's on your mind?", class: 'form-control' %>
    </div>
    <div class='card-footer'>
      <%= form.submit %>
    </div>
  </div>
</div>
<% end %>
