<!DOCTYPE html>
<html>
  <head>
    <title>FacebookCloneApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3B5998;">
      <div class="container">
        <% if user_signed_in? %>
          <%= render 'layouts/logged_in_nav' %>
        <% else %>
            <%= render 'layouts/logged_out_nav' %>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <br>
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
